<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css"
        integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
</head>

<body class style="">

    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" style="">
        <div class="container">
          <a href="../" class="navbar-brand">SMRS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            
        
            <ul class="navbar-nav ms-md-auto">
              <li class="nav-item">
                <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/thomaspark/bootswatch/"><i class="fa fa-github"></i> GitHub</a>
              </li>
             
            </ul>
          </div>
        </div>
      </div>
    <br />
    <div class="row ">
        <div class="col-12  justify-content-center text-center">
            <h1>Deep Learning App for Image Prediction</h1>
            <p class="text-muted">Resnet18 Model trained on CIFRA-10 dataset</p>
        </div>

    </div>
    <br />
    <br />
    <div class="row ">
        <div class="col-12  justify-content-center text-center">
            <h2>Classes Trained </h2>
            <p class="text-muted">(Hover over the images to see class name)</p>
        </div>

    </div>

    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-1" data-toggle="tooltip" data-placement="bottom" title="Airplane">
            <img src="{{url_for('static', filename='Images/airoplane.jpeg')}}" alt="User Image" width="100" height="100"
                height="100" />

        </div>
        <div class="col-md-1" data-toggle="tooltip" data-placement="bottom" title="Bird">
            <img src="{{url_for('static', filename='Images/bird.jpeg')}}" alt="User Image" width="100" height="100" />

        </div>
        <div class="col-md-1" data-toggle="tooltip" data-placement="bottom" title="Automobile">
            <img src="{{url_for('static', filename='Images/car.jpeg')}}" alt="User Image" width="100" height="100" />

        </div>
        <div class="col-md-1" data-toggle="tooltip" data-placement="bottom" title="Deer">
            <img src="{{url_for('static', filename='Images/deer.jpeg')}}" alt="User Image" width="100" height="100" />

        </div>
        <div class="col-md-1" data-toggle="tooltip" data-placement="bottom" title="Dog">
            <img src="{{url_for('static', filename='Images/dog.jpeg')}}" alt="User Image" width="100" height="100" />

        </div>
        <div class="col-md-1" data-toggle="tooltip" data-placement="bottom" title="Frog">
            <img src="{{url_for('static', filename='Images/frog.jpeg')}}" alt="User Image" width="100" height="100" />

        </div>
        <div class="col-md-1" data-toggle="tooltip" data-placement="bottom" title="Horse">
            <img src="{{url_for('static', filename='Images/horse.jpeg')}}" alt="User Image" width="100" height="100" />

        </div>
        <div class="col-md-1" data-toggle="tooltip" data-placement="bottom" title="Cat">
            <img src="{{url_for('static', filename='Images/cat.jpeg')}}" alt="User Image" width="100" height="100" />

        </div>
        <div class="col-md-1" data-toggle="tooltip" data-placement="bottom" title="Ship">
            <img src="{{url_for('static', filename='Images/ship.jpeg')}}" alt="User Image" width="100" height="100" />

        </div>
        <div class="col-md-1" data-toggle="tooltip" data-placement="bottom" title="Truck">
            <img src="{{url_for('static', filename='Images/truck.jpeg')}}" alt="User Image" width="100" height="100" />

        </div>
    </div>
    <br />
    <br />
    <div class="row ">
        <div class="col-12  justify-content-center text-center">
            <h2>Try Out Our Prediction Model</h2>

        </div>

    </div>
    <div class="container" style="border: 1px outset #78C2AD">
        <br />
        <br />
        <div class="row">
            <div class="col-12 d-flex justify-content-center text-center">
                <form action="/" method="POST" enctype=multipart/form-data>
                    <fieldset class="form-group">

                        <div class="form-group">


                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <input class="form-control-file" type="file" id="formFile" name="file">

                                </div>
                                <div class="col-sm-2">
                                    <input type="submit" value="Predict" class="btn btn-outline-dark" name="predict" />
                                </div>
                                <div class="col-sm-2">
                                    <input type="submit" value="Clear" class="btn btn-dark" name="clear" />
                                </div>
                            </div>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-12 d-flex justify-content-center text-center">
                {% if filename %}
                <div>
                    <img src="{{url_for('static', filename=filename)}}" alt="User Image" />
                </div>
                {% endif %}
            </div>

        </div>
        <br />

        <div class="row">
            <div class="col-12 d-flex justify-content-center text-center">
                {% if prediction %}
                <div>
                    <h3 class="text-primary"><span class="badge bg-secondary">Our Model says it as a <span
                                style="color:#5a5a5a">{{prediction}}!!</span></h3></span>

                </div>

                {% endif %}
            </div>
        </div>
        {% if error %}
        <div class="alert alert-dismissible alert-danger" style="width: 50%; margin: auto;text-align: center">
            <span style="text-align: center"><strong>Oh snap!</strong> {{error}}</span>
        </div>
        {% endif %}

        <br />


    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>